
<%@ page import="ar.com.telecom.pcs.entities.DetallePlanificacionAreaSoporte" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'detallePlanificacionAreaSoporte.label', default: 'DetallePlanificacionAreaSoporte')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="dialog">
                <table>
                    <tbody>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.id.label" default="Id" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: detallePlanificacionAreaSoporteInstance, field: "id")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.fechaDesde.label" default="Fecha Desde" /></td>
                            
                            <td valign="top" class="value"><g:formatDate date="${detallePlanificacionAreaSoporteInstance?.fechaDesde}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.fechaHasta.label" default="Fecha Hasta" /></td>
                            
                            <td valign="top" class="value"><g:formatDate date="${detallePlanificacionAreaSoporteInstance?.fechaHasta}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.cantidadHoras.label" default="Cantidad Horas" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: detallePlanificacionAreaSoporteInstance, field: "cantidadHoras")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.comentarioDetalleAreaSoporte.label" default="Comentario Detalle Area Soporte" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: detallePlanificacionAreaSoporteInstance, field: "comentarioDetalleAreaSoporte")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.planificacion.label" default="Planificacion" /></td>
                            
                            <td valign="top" class="value"><g:link controller="planificacionEsfuerzo" action="show" id="${detallePlanificacionAreaSoporteInstance?.planificacion?.id}">${detallePlanificacionAreaSoporteInstance?.planificacion?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.tareaSoporte.label" default="Tarea Soporte" /></td>
                            
                            <td valign="top" class="value"><g:link controller="tareaSoporte" action="show" id="${detallePlanificacionAreaSoporteInstance?.tareaSoporte?.id}">${detallePlanificacionAreaSoporteInstance?.tareaSoporte?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="detallePlanificacionAreaSoporte.valorHora.label" default="Valor Hora" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: detallePlanificacionAreaSoporteInstance, field: "valorHora")}</td>
                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <g:form>
                    <g:hiddenField name="id" value="${detallePlanificacionAreaSoporteInstance?.id}" />
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'default.button.edit.label', default: 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </g:form>
            </div>
        </div>
    </body>
</html>
