

<%@ page import="ar.com.telecom.pcs.entities.Auditoria" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'auditoria.label', default: 'Auditoria')}" />
        <title><g:message code="default.edit.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.edit.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${auditoriaInstance}">
            <div class="errors">
                <g:renderErrors bean="${auditoriaInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form method="post" >
                <g:hiddenField name="id" value="${auditoriaInstance?.id}" />
                <g:hiddenField name="version" value="${auditoriaInstance?.version}" />
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                  <label for="legajo"><g:message code="auditoria.legajo.label" default="Legajo" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: auditoriaInstance, field: 'legajo', 'errors')}">
                                    <g:textField name="legajo" value="${auditoriaInstance?.legajo}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                  <label for="ultimoIngreso"><g:message code="auditoria.ultimoIngreso.label" default="Ultimo Ingreso" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: auditoriaInstance, field: 'ultimoIngreso', 'errors')}">
                                    <g:datePicker name="ultimoIngreso" precision="day" value="${auditoriaInstance?.ultimoIngreso}"  />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="save" action="update" value="${message(code: 'default.button.update.label', default: 'Update')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
