
<%@ page import="ar.com.telecom.pcs.entities.Auditoria" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'auditoria.label', default: 'Auditoria')}" />
        <title><g:message code="default.list.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="list">
                <table>
                    <thead>
                        <tr>
                        
                            <g:sortableColumn property="id" title="${message(code: 'auditoria.id.label', default: 'Id')}" />
                        
                            <g:sortableColumn property="legajo" title="${message(code: 'auditoria.legajo.label', default: 'Legajo')}" />
                        
                            <g:sortableColumn property="ultimoIngreso" title="${message(code: 'auditoria.ultimoIngreso.label', default: 'Ultimo Ingreso')}" />
                        
                        </tr>
                    </thead>
                    <tbody>
                    <g:each in="${auditoriaInstanceList}" status="i" var="auditoriaInstance">
                        <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">
                        
                            <td><g:link action="show" id="${auditoriaInstance.id}">${fieldValue(bean: auditoriaInstance, field: "id")}</g:link></td>
                        
                            <td>${fieldValue(bean: auditoriaInstance, field: "legajo")}</td>
                        
                            <td><g:formatDate date="${auditoriaInstance.ultimoIngreso}" /></td>
                        
                        </tr>
                    </g:each>
                    </tbody>
                </table>
            </div>
            <div class="paginateButtons">
                <g:paginate total="${auditoriaInstanceTotal}" />
            </div>
        </div>
    </body>
</html>
