<g:updateToken pedido="${pedidoInstance}"/>

<%--<td><button class="formSeccionSubmitButton" id="modificarPrueba${prueba.tipoPrueba.id}" name="modificarPrueba${prueba.tipoPrueba.id}" onClick="editOtrasPruebasPopUp('${prueba.tipoPrueba.descripcion}',${prueba.seraConsolidada},${counter})">${prueba.tipoPrueba.descripcion}</button></td>--%>
<td>
	${prueba.tipoPrueba.descripcion}
</td>
<td><g:checkBox id="consolida${prueba.tipoPrueba.id}"
		name="consolida${prueba.tipoPrueba.id}"
		value="${prueba.seraConsolidada}" disabled="true" />
</td>
<td><a
	href="javascript:editOtrasPruebasPopUp('${prueba.tipoPrueba.descripcion}',${prueba.seraConsolidada},${counter})"
	class="modificarItem"></a>
</td>
<td><g:remoteLink action="eliminarPrueba"
		update="pruebasAdicionales"
		params="${['pedidoId': pedidoInstance.id, 'pruebaId': prueba.id]}" id="${prueba.id}" 
		class="eliminarItem"></g:remoteLink></td>
		