

<%@ page import="ar.com.telecom.pcs.entities.EstrategiaPrueba" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'estrategiaPrueba.label', default: 'EstrategiaPrueba')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${estrategiaPruebaInstance}">
            <div class="errors">
                <g:renderErrors bean="${estrategiaPruebaInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form action="save" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="comentario"><g:message code="estrategiaPrueba.comentario.label" default="Comentario" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: estrategiaPruebaInstance, field: 'comentario', 'errors')}">
                                    <g:textField name="comentario" value="${estrategiaPruebaInstance?.comentario}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="fechaCarga"><g:message code="estrategiaPrueba.fechaCarga.label" default="Fecha Carga" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: estrategiaPruebaInstance, field: 'fechaCarga', 'errors')}">
                                    <g:datePicker name="fechaCarga" precision="day" value="${estrategiaPruebaInstance?.fechaCarga}"  />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="versionEP"><g:message code="estrategiaPrueba.versionEP.label" default="Version EP" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: estrategiaPruebaInstance, field: 'versionEP', 'errors')}">
                                    <g:textField name="versionEP" value="${fieldValue(bean: estrategiaPruebaInstance, field: 'versionEP')}" />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
