

<%@ page import="ar.com.telecom.pcs.entities.EstadoActividad" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'estadoActividad.label', default: 'EstadoActividad')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${estadoActividadInstance}">
            <div class="errors">
                <g:renderErrors bean="${estadoActividadInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form action="save" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="descripcion"><g:message code="estadoActividad.descripcion.label" default="Descripcion" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: estadoActividadInstance, field: 'descripcion', 'errors')}">
                                    <g:textField name="descripcion" maxlength="50" value="${estadoActividadInstance?.descripcion}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="aprobado"><g:message code="estadoActividad.aprobado.label" default="Aprobado" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: estadoActividadInstance, field: 'aprobado', 'errors')}">
                                    <g:checkBox name="aprobado" value="${estadoActividadInstance?.aprobado}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="esEstadoFinal"><g:message code="estadoActividad.esEstadoFinal.label" default="Es Estado Final" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: estadoActividadInstance, field: 'esEstadoFinal', 'errors')}">
                                    <g:checkBox name="esEstadoFinal" value="${estadoActividadInstance?.esEstadoFinal}" />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
