<div class="itemTabla">${sistema.sistema}</div>
<div class="itemTabla">${sistema.impacto}</div>
<div class="itemTabla">${sistema.impacto}</div>
<g:remoteLink controller="registroPedido" action="borrarItemTabla" update="sistemas" id=""><div class="itemBorrarTabla"></div></g:remoteLink>
