<%--<b><a href="javascript:animatedcollapse.show(['jason', 'kelly', 'michael'])">Show Examples 1, 2, 3</a> | <a href="javascript:animatedcollapse.hide(['jason', 'kelly', 'michael'])">Hide Examples 1, 2, 3</a></b>--%>

<table class="TablaValidacionImpactoHeader" border="0" cellspacing="0" cellpadding="0" ><tr>
	<td width="250">Valorizaci&oacute;n del Cambio</td>
	<td width="200">Total horas</td>
	<td width="200">Monto (en Pesos)</td>
</tr></table>

<%-- Aca va a ir un g:each con el listado de elementos y le voy a pasar al taglib la info para que dibuje  --%>

<g:divsValoraciones id="1" ></g:divsValoraciones>
<g:divsValoraciones id="2" ></g:divsValoraciones>
<g:divsValoraciones id="3" ></g:divsValoraciones>

<table class="TablaValidacionImpactoHeader" border="0" cellspacing="0" cellpadding="0" ><tr>
	<td width="300">Total general</td>
	<td width="200">310</td>
	<td width="200">22.000</td>
</tr></table>
 