<g:render template="aprobacionesHijo" 	model="['impactoInstance': impactoInstance]"></g:render>
<g:render template="justificacion" 	model="['pedidoInstance':pedidoInstance, 'impactoInstance': impactoInstance, 'usuarioLogueado': usuarioLogueado]"></g:render>


 