
<%@ page import="ar.com.telecom.pcs.entities.UmbralAprobacionEconomicaDireccion" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'umbralAprobacionEconomicaDireccion.label', default: 'UmbralAprobacionEconomicaDireccion')}" />
        <title><g:message code="default.list.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.list.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="list">
                <table>
                    <thead>
                        <tr>
                        
                            <g:sortableColumn property="id" title="${message(code: 'umbralAprobacionEconomicaDireccion.id.label', default: 'Id')}" />
                        
                            <g:sortableColumn property="direccion" title="${message(code: 'umbralAprobacionEconomicaDireccion.direccion.label', default: 'Direccion')}" />
                        
                            <g:sortableColumn property="rangoDesde" title="${message(code: 'umbralAprobacionEconomicaDireccion.rangoDesde.label', default: 'Rango Desde')}" />
                        
                            <g:sortableColumn property="rangoHasta" title="${message(code: 'umbralAprobacionEconomicaDireccion.rangoHasta.label', default: 'Rango Hasta')}" />
                        
                            <th><g:message code="umbralAprobacionEconomicaDireccion.tipoGestion.label" default="Tipo Gestion" /></th>
                        
                        </tr>
                    </thead>
                    <tbody>
                    <g:each in="${umbralAprobacionEconomicaDireccionInstanceList}" status="i" var="umbralAprobacionEconomicaDireccionInstance">
                        <tr class="${(i % 2) == 0 ? 'odd' : 'even'}">
                        
                            <td><g:link action="show" id="${umbralAprobacionEconomicaDireccionInstance.id}">${fieldValue(bean: umbralAprobacionEconomicaDireccionInstance, field: "id")}</g:link></td>
                        
                            <td>${fieldValue(bean: umbralAprobacionEconomicaDireccionInstance, field: "direccion")}</td>
                        
                            <td>${fieldValue(bean: umbralAprobacionEconomicaDireccionInstance, field: "rangoDesde")}</td>
                        
                            <td>${fieldValue(bean: umbralAprobacionEconomicaDireccionInstance, field: "rangoHasta")}</td>
                        
                            <td>${fieldValue(bean: umbralAprobacionEconomicaDireccionInstance, field: "tipoGestion")}</td>
                        
                        </tr>
                    </g:each>
                    </tbody>
                </table>
            </div>
            <div class="paginateButtons">
                <g:paginate total="${umbralAprobacionEconomicaDireccionInstanceTotal}" />
            </div>
        </div>
    </body>
</html>
