<html>
<head>
  <meta name="layout" content="layoutMobile" />
</head>
<body>
<web:isBlackberry>
        <tmpl:/inboxMobile/verPedido pedido="${pedido}" />
</web:isBlackberry>
</body>
</html> 