/******************** GEMERALES ********************/
* {
  margin:0px;
}

body {
  font-family: Arial;
  font-size: 9pt;
  color: #ffffff;
  background-color: #3e8a9a;
}

a:link, a:visited, a:hover {
  font-size: 9pt;
  text-decoration: none;
}

img {
  border: none;
}

/******************** MAQUETA GENERAL ********************/
#mobile-body {}
#mobile-body-content {}

#mobile-body-content-logo {
  text-align: center;
  padding: 5px;
  margin: 0px auto;
  border-bottom: 5px solid #ffffff;
  background-color:#444444;
}

#mobile-body-content-header {
  height: 16px;
  padding: 0px 0px 1px 50px;
  border-bottom: 3px solid #ffffff;
  background-color: #444444;
  background-image: url("mobile-logo-mini.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}

#mobile-body-content-form {
  text-align: center;
  padding-top: 5px;
}

#mobile-body-content-form-login {
  width: 100%;
}

#mobile-body-content-action {
  color: #000000;
  background-color: #ffffff;
}

#mobile-body-content-action textarea {
  font-family: arial;
}

#mobile-body-content-action input[type='button'] {
  width: 150px;
}

#mobile-body-content-list {}

/******************** MAQUETA TABLAS/SECCIONES ********************/
#mobile-body-content-list table {
  font-size: 9pt;
  color: #000000;
  background-color: #ffffff;
}

#mobile-body-content-list table a {
  text-decoration: none;
  color: #000000;
}

#mobile-body-content-list table th {
  text-align: left;
  font-weight: bold;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
}

#mobile-body-content-list table td {
  border: 1px solid #d9d9d9;
  background-color: #e9e9e9;
}

.columna1 {
  text-align: left; 
  width: 40px;
}
.columna2 {
  text-align: left;
  width: 100%;
}
.columna3 {
  width: 25px;
  text-align: center;
}

table#pedido-detalle tr td {
  vertical-align: top;
  width: 100%;
}

table#pedido-detalle tr td:first-child {
  text-align: right;
  width: 80px;
}

table#pedido-detalle tr td[colspan='2'] {
  text-align: center;
  width: 100%;
}

table#pedido-acciones {
  width: 100%;
}

table#pedido-acciones td {
  text-align: center;
  font-weight: bold;
}

table#pedido-acciones td img {
  vertical-align: middle;
}

/******************** PAGINATE ********************/
.paginateButtons {
	background: #d9d9d9;
	border: 1px solid #e9e9e9;
	border-top: 0;
	color: #666666;
	font-size: 10px;
	overflow: hidden;
	padding: 4px 2px;
}

.paginateButtons a {
	background: #e9e9e9;
	border: 1px solid #cccccc;
	color: #666666;
	margin: 0 2px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}

/******************** CLASSES ********************/
.loginForm-labels {
  text-align: right;
  width: 100px;
}

.loginForm-inputs {
  text-align: center;
  width: 170px;
}

.loginForm-input {
  backgraound-color: #c1d5d9;
}

.loginForm-button {
  backgraound-color: #c1d5d9;
}

.login_message {
  color: #ff0000;
  background-color: #000000;
}

.buttonLogin {
  color: #ffffff;
  background-color: #3e8a9a;
  width: 100px;
}

.link-entrar img {
  margin-top: 40px;
}