.contenidoError {
	border: 1px solid;
	padding:20px;
	margin:20px;
    background-color: #FFBABA;
    color: #D8000C;
}

.contenidoWarning {
	border: 1px solid;
	padding:20px;
	margin:20px;
	background-color: #FEEFB3;
    color: #9F6000;
}

.contenidoInfo {
	border: 1px solid;
	padding:20px;
	margin:20px;
	background-color: #BDE5F8;
    color: #00529B;
}

.contenidoInfo a {
	font-style: italic;
	text-decoration: underline;
	color: darkblue;
}

.contenidoSuccess {
	border: 1px solid;
	padding:20px;
	margin:20px;
    background-color: #DFF2BF;
    color: #4F8A10;
}

#errorBody a, #errorBody a:link {
	text-decoration: underline;
	color: darkblue;
}

.message {
	border: 1px solid black;
	padding: 5px;
	background-color: #E9E9E9;
}

.stack {
	border: 1px solid black;
	padding: 5px;
	overflow: auto;
	height: 300px;
}

.snippet {
	padding: 5px;
	background-color: white;
	border: 1px solid black;
	margin: 3px;
	font-family: courier;
}

