/*
	glDatePicker default style

	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
*/

/* Calendar container div */
.gldp-default
{
	float:left;
	font-family: Verdana !important;
	background-color: #c1d5d9 !important;
	font-size: 10px !important;
	border: solid 1px #888;
}

/* Table style */
.gldp-default table
{
	border-spacing:1px;
	border-collapse:inherit;
}

/* Default row height */
.gldp-default tr {
	line-height: 28px;
}

/* Default style of cell */
.gldp-default td
{
	margin: 0px !important;
	padding: 0px;
	text-align:center;
	vertical-align: middle;
}

tr.days td {
  	height: 20px;
	width: 20px;
}

/* Previous and Next arrows */
.gldp-default-prevnext
{
	font-family: Verdana;
	color:#222;
	cursor:pointer;
	font-weight:bold;
}

/* Month Year title */
.gldp-default-monyear
{
	color:#222;
	font-size:0.9em !important;
	font-weight:bold;
}

/* Days of the week (Sun, Mon, ...) */
.gldp-default-dow
{
	background-color:#c1d5d9;
	color:#eee;
	font-size:0.4em !important;
	font-weight:bold;
}

.gldp-default-dow td {
	color: #000000;
	font-size: 9px;
	font-weight: bold;
}

/* Selectable days */
.gldp-default-day
{
	background-color:#c1d5d9;
	color:#222;
	border:solid 1px #899fa4;
/* 	font-weight:bold; */
}
.gldp-default-day-hover
{
	background-color:#c1d5d9;
/* 	color:#f82200; */
	border:solid 1px #899fa4;
	cursor:pointer;
/* 	font-weight:bold; */
}

/* Selected days */
.gldp-default-selected
{
	background-color:#fee;
	color:#222;
	border:solid 1px #f82200;
}

/* Today */
.gldp-default-today
{
	background-color:#c1d5d9;
	color:#899fa4;
	border:solid 1px #899fa4;
/* 	font-weight:bold; */
}

.gldp-default-today-hover
{
	background-color:#c1d5d9;
/* 	color:#f82200; */
	border:solid 1px #899fa4;
	cursor:pointer;
/* 	font-weight:bold; */
}

/* Weekends */
.gldp-default-sat, .gldp-default-sun
{
	background-color:#c1d5d9;
	color:#004f8f;
	border:solid 1px #899fa4;
/* 	font-weight:bold; */
}
.gldp-default-sat-hover, .gldp-default-sun-hover
{
	background-color:#c1d5d9;
/* 	color:#f82200; */
	border:solid 1px #899fa4;
	cursor:pointer;
/* 	font-weight:bold; */
}

/* Non-selectable day.  Includes:previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-default-noday
{
	background-color:#fff;
	border:solid 1px #fff;
	color:#666;
/* 	cursor:wait; */
}