body {
  font-family: 'Lucida Grande', Tahoma, Arial;
  font-size: 10pt;
  background-color: #3E8A9A;
}

* {
  margin: 0px;
  padding: 0px;
}

.contenidoError {
	border: 1px solid;
	padding:20px;
	margin:20px;
    background-color: #FFBABA;
    color: #D8000C;
}

#HeaderLogin {
  text-align: center;
  height: 150px;
  background-color: #444;
  border-bottom: 5px solid #FFF;
  position: relative;
}

#HeaderLogin-content {
  width: 950px;
  margin: 0px auto;
}

#FooterLogin {
  text-align: center;
  padding-top: 14px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  border-top: 5px solid #FFF;
  background-color: #444;
  position: absolute;  
}

#FooterLogin-content {
  font-family: Arial;
  font-size: 10px;
  color: #ffffff;
  width: 1000px;
  margin: 0px auto;
}

.FooterLogin-content-cellA {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
.FooterLogin-content-cellA a {
  height: 32px;
  width: 32px;
  background-image: url("images/icon-home-ayuda-grey.png");
  background-repeat: no-repeat;
}
.FooterLogin-content-cellA a:hover {
  background-image: url("images/icon-home-ayuda.png");
}
.FooterLogin-content-cellB {
  text-align: center;
  vertical-align: middle;
}
.FooterLogin-content-cellC {
  text-align: center;
  vertical-align: middle;
  width: 200px;
}
.FooterLogin-content-cellC a {
  height: 32px;
  width: 32px;
  background-image: url("images/icon-home-perfiles-grey.png");
  background-repeat: no-repeat;
}
.FooterLogin-content-cellC a:hover {
  background-image: url("images/icon-home-perfiles.png");
}

#ContenedorHeader {
  text-align: left;
  width: 950px;
  margin: 0px auto;
}

#Logo {
  text-align: center;
  height: 150px;
  float: left;
}

#Logo img {
  margin-top: expression(( 150 - this.height ) / 2); 
}

#Login, #Error {
  width: 570px;
  height: 150px;
  float: left;
  margin-left: 100px;
}

#Error {
  font-size:15pt;
  color: blue;
  text-align:center;
}

.loginDenied{
}

.loginDenied a{
	color:#00529B;
	font-weight: bold;
	text-decoration: none;
	margin-left:10px;
}

.indexEntrar{
  color:#FFF;
  text-decoration:none;
  font-size:14pt;
  height:32px;
}

.indexEntrar span{
  position:relative;
  top:-8px;
  margin-left:5px;
}

.indexEntrar img{
  border:none;
}

.cssform{
  margin-top:50px;
  margin-bottom:10px;
  width:100%;
  margin-left:50px;
}

.cssform p{
  float:left;
  width:180px;
  height:50px;
  margin-right:10px;
  color:#fff;
}

.cssform p input{
  height:25px;
  width:180px;
  margin-top:5px;
  background-color:#FFF;
  border:1px solid #000;
  color:#000;
  padding-top:3px;
}

.cssform p input:active, .cssform p input:focus{
  background-color:#b8d6f0;
  color:#00458f;
  border:1px solid blue;
}

.btn{
  height:29px;
  width:60px;
  margin-top:20px;
}


.login_message {
	background-color: #FFBABA;
    color: #D8000C; 
    border: 1px solid #CD5C5C;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
    height: 20px !important;
/*   font: bold; */
	margin-left:50px;
	text-align: center; 
}

.contenidoInfo {
	border: 1px solid;
	padding:20px;
	margin:20px;
	background-color: #BDE5F8;
    color: #00529B;
}
