div#workflow-navigator-fases { 
  position: relative; /* div del scrollArea debe ser positioned */
  width: 900px; height: 90px; /* width y height requerido */
  overflow: hidden; /* requerido! */
  background-color: #ffffff;
}

div#workflow-navigator-scrollbar { 
  position: relative;
  /* incluir siguiente linea si se quiere ocultar scrollBar cuando el contenido no hace overflow */
  /* visibility:visible !important; */ 
  width: 900px; height: 13px;
  font-size: 1px; /* fix IE, previene overflow del trackBar */
  border: 1px solid #cccccc;
  margin-bottom: 2px;
}

div#workflow-navigator-scrollbar .left {
  position: absolute;
  left: 0; top: 0;
  width: 11px; height: 11px; /* width y height de imagen de botones */
  background-image: url('images/workflow-scrollbar-btn-left.png');
  background-repeat: no-repeat;
}

div#workflow-navigator-scrollbar .right {
  position: absolute;
  right: 0; top: 0;
  width: 11px; height: 11px; /* width y height de imagen de botones */
  background-image: url('images/workflow-scrollbar-btn-right.png');
  background-repeat: no-repeat;
}

div#workflow-navigator-scrollbar .track {
  position: absolute; /* trackBar debe ser positioned */
  top: 0;
  left: 12px; /* igual al width de la imagen .left + separacion opcional */
  width: 876px; /* (width del scrollBar) - 2x(ancho de la imagen) - 2x(separacion opcional) */
  height: 11px;
  background-color: #ffffff;
}

div#workflow-navigator-scrollbar .dragBar {
  position: absolute; /* el dragBar debe ser positioned */
  left: 1px; top: 1px; /* separacion adicional entre trackBar y dragBar */
  height: 9px;
  width: 20px; /* width de auto-size */
  /* width:20px !important;  usar !important para prevenir que se amolde al largo del contenido */
  background-color: #3e8a9a;
}  

div#workflow-navigator-scrollbar {
  -moz-user-select: none;
  -khtml-user-select: none;
}

#workflow-navigator {
  font-family: Trebuchet MS;
  font-size: 10px;
  background-color: #ffffff;
}

#workflow-navigator table {
	border: none;
	width: 87px !important;
}

#workflow-navigator tr {
	border: none;
}

#workflow-navigator td {
	line-height: 10px;
	padding: 0px;
	text-align: center;
	vertical-align: center;
}

#workflow-navigator-selector {
  background-color: #3e8a9a;
}

#workflow-navigator-selector ul li {
  font-size: 12px;
  height: 26px;
  border-top: 2px solid #3e8a9a;
  border-right: 2px solid #3e8a9a;
  border-bottom: 1px solid #3e8a9a;
  border-left: 2px solid #3e8a9a;
  background-color: #e0e9eb;
  padding: 4px;
  display: inline;
}
#workflow-navigator-selector ul li.selected {
  font-weight: bold;
  background-color: #ffffff;
  border-bottom: none;
}

#workflow-navigator-selector ul li.selectedPadre {
  font-weight: bold;
  background-color: #ffffff;
  font-size: 12px;
  border-bottom: none;
}

#workflow-navigator-selector ul li#workflow-navigator-selector-padre {
  font-size: 12px;
  font-weight: bold;
}

#workflow-navigator-fases-content {
  padding: 4px;
}

#workflow-navigator-fases-content table {
  border: none;
}

td#workflow-fase img, td#workflow-fase-hija img {
  vertical-align: middle;
} 

td#workflow-fase-compuesta {
  font-size: 9px;
  vertical-align: top;
  text-align: center;
}

#workflow-fase-compuesta-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
}

#workflow-fase-compuesta-title {
  font-size: 9px;
  white-space: nowrap;
  width: 100px;
  margin-bottom: 3px;
}

td#workflow-fase {
  height: 81px;
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#workflow-fase.realizada {
  background-image: url("images/workflow-fase-realizada.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}
#workflow-fase.realizada-selected {
  background-image: url("images/workflow-fase-realizada-selected.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}
#workflow-fase.realizada a, #workflow-fase.realizada-selected a {
  color: #000000;
}
#workflow-fase.actual {
  background-image: url("images/workflow-fase-actual.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}
#workflow-fase.actual-selected {
  background-image: url("images/workflow-fase-actual-selected.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}
#workflow-fase.actual a, #workflow-fase.actual-selected a {
  color: #ffffff;
}
#workflow-fase.inactiva {
  background-image: url("images/workflow-fase-inactiva.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}
#workflow-fase.inactiva-selected {
  background-image: url("images/workflow-fase-inactiva-selected.png");
  background-position: 0px 14px;
  background-repeat: no-repeat;
}

td#workflow-fase-hija {
  font-size: 9px;
  height: 47px !important;
  vertical-align: middle;
  text-align: center;
  padding-top: 0px;
  padding-right: 2px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#workflow-fase-hija.realizada {
  background-image: url("images/workflow-fase-hija-realizada.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#workflow-fase-hija.realizada-selected {
  background-image: url("images/workflow-fase-hija-realizada-selected.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#workflow-fase-hija.realizada a, #workflow-fase-hija.realizada-selected a {
  color: #000000;
}
#workflow-fase-hija.actual {
  background-image: url("images/workflow-fase-hija-actual.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#workflow-fase-hija.actual-selected {
  background-image: url("images/workflow-fase-hija-actual-selected.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#workflow-fase-hija.actual a, #workflow-fase-hija.actual-selected a {
  color: #ffffff;
}
#workflow-fase-hija.inactiva {
  background-image: url("images/workflow-fase-hija-inactiva.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
#workflow-fase-hija.inactiva-selected {
  background-image: url("images/workflow-fase-hija-inactiva-selected.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.fase-selected {
  font-weight: bold;
}

.fase-selected-dot {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

hr.separator-gray {
  color: silver;
  border-bottom: 1px solid gray;
  height: 2px;
}
