

<%@ page import="ar.com.telecom.pcs.entities.TareaSoporte" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'tareaSoporte.label', default: 'TareaSoporte')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${tareaSoporteInstance}">
            <div class="errors">
                <g:renderErrors bean="${tareaSoporteInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form action="save" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="descripcion"><g:message code="tareaSoporte.descripcion.label" default="Descripcion" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: tareaSoporteInstance, field: 'descripcion', 'errors')}">
                                    <g:textField name="descripcion" maxlength="80" value="${tareaSoporteInstance?.descripcion}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="areaSoporte"><g:message code="tareaSoporte.areaSoporte.label" default="Area Soporte" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: tareaSoporteInstance, field: 'areaSoporte', 'errors')}">
                                    <g:select name="areaSoporte.id" from="${ar.com.telecom.pcs.entities.AreaSoporte.list()}" optionKey="id" value="${tareaSoporteInstance?.areaSoporte?.id}" noSelection="['null': '']" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="tipoActividad"><g:message code="tareaSoporte.tipoActividad.label" default="Tipo Actividad" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: tareaSoporteInstance, field: 'tipoActividad', 'errors')}">
                                    <g:select name="tipoActividad.id" from="${ar.com.telecom.pcs.entities.TipoActividad.list()}" optionKey="id" value="${tareaSoporteInstance?.tipoActividad?.id}"  />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
