<%@page import="ar.com.telecom.util.NumberUtil"%>
<g:updateToken />

<label class="formLabel">Costo total del cambio:</label> 
<label class="formLabel">$ ${NumberUtil.toString(impactoInstance.costoTotalCambio())}</label>
 