<g:updateToken />
<label for='inputGrupoRSWF' class="formLabel">Grupo Responsable:</label><br>
<%--<label id="inputGrupoRSWF" class="formInput" name="inputGrupoRSWF" style="width: 100%;">${grupo}</label>--%>
<p id="inputGrupoRSWF" class="info" name="inputGrupoRSWF" style="margin-left: 37px;">${grupo}</p>

 