<%@page import="ar.com.telecom.util.NumberUtil"%>

<g:updateToken />
<label class="formLabel">$ hora:</label>
<g:textField id="valorHora" name="valorHora" maxlength="8" class="inputCorto" onkeypress="javascript:soloNumeros(event,true);" onKeyUp="calculaTotalCargaHoraPop()" value="${NumberUtil.seteaComas(cargaHora?.valorHora)}"/>
