
<%@ page import="ar.com.telecom.pcs.entities.CargaHora" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'cargaHora.label', default: 'CargaHora')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="dialog">
                <table>
                    <tbody>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.id.label" default="Id" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: cargaHoraInstance, field: "id")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.softwareFactory.label" default="Software Factory" /></td>
                            
                            <td valign="top" class="value"><g:link controller="softwareFactory" action="show" id="${cargaHoraInstance?.softwareFactory?.id}">${cargaHoraInstance?.softwareFactory?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.periodo.label" default="Periodo" /></td>
                            
                            <td valign="top" class="value"><g:link controller="periodo" action="show" id="${cargaHoraInstance?.periodo?.id}">${cargaHoraInstance?.periodo?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.valorHora.label" default="Valor Hora" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: cargaHoraInstance, field: "valorHora")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.cantidadHoras.label" default="Cantidad Horas" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: cargaHoraInstance, field: "cantidadHoras")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.detalle.label" default="Detalle" /></td>
                            
                            <td valign="top" class="value"><g:link controller="detallePlanificacionSistema" action="show" id="${cargaHoraInstance?.detalle?.id}">${cargaHoraInstance?.detalle?.encodeAsHTML()}</g:link></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="cargaHora.totalMontoHoras.label" default="Total Monto Horas" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: cargaHoraInstance, field: "totalMontoHoras")}</td>
                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <g:form>
                    <g:hiddenField name="id" value="${cargaHoraInstance?.id}" />
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'default.button.edit.label', default: 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </g:form>
            </div>
        </div>
    </body>
</html>
