<g:updateToken />

<div class="list">
	<label class="formLabel">Nombre de la Variante:</label>
	<g:textField id="nombreVariante" name="nombreVariante" />
	<div class="separator"></div>
	<div align="center">
		<input type="button" name="cerrar" class="formSeccionSubmitButtonHistorial ui-button ui-widget ui-state-default ui-corner-all" value="Cerrar" onclick="javascript:closePopUp('#dialog-popupGuardarVariantes');" />
		<input type="button" name="guardar" class="formSeccionSubmitButtonHistorial ui-button ui-widget ui-state-default ui-corner-all" value="Guardar" onclick="javascript:guardarVariante();" />
	</div>
</div>
 