<g:updateToken />
<div id="dialog-personalizar-tipoimpacto" title="Personalizar Tipo Impacto" style="display: none;">
<%--	<g:uploadForm enctype="multipart/form-data" id="formPersonalizarTipoImpacto" name="formPersonalizarTipoImpacto" action="guardarPersonalizarTipoImpacto">--%>
	
		<div align="center" style="text-align: left;">
		
<%--			<g:checkBoxList items="${ar.com.telecom.pcs.entities.TipoImpacto.list()}" name="tipoImpacto" seleccionados="${}" optionKey="id" height="140"  />--%>
			<button id="btnAceptarPersonalizarTipoImpacto" class="formSeccionSubmitButtonPersonalizar" value="Aceptar" name="Aceptar" onClick="cerrarPopUpPersonalizarTipoImpacto();">Aceptar</button>			
			&nbsp;
			<button id="btnCancelarPersonalizarTipoImpacto" class="formSeccionSubmitButtonPersonalizar" value="Cancelar" name="Cancelar" onClick="cerrarPopUpPersonalizarTipoImpacto();">Cerrar</button>			
		</div>
		
<%--	</g:uploadForm>--%>
</div> 