<g:updateToken />
<div id="dialog-personalizar-rol" title="Personalizar Rol" style="display: none;">
<%--	<g:uploadForm enctype="multipart/form-data" id="formPersonalizarRol" name="formPersonalizarRol" action="guardarPersonalizarRol">--%>
	
		<div align="center" style="text-align: left;">
		
<%--			<g:checkBoxList items="${ar.com.telecom.pcs.entities.RolAplicacion.list()}" name="rolAplicacion" seleccionados="${}" optionKey="codigoRol" optionValue="value" height="200" />--%>
			<button id="btnAceptarPersonalizarRol" class="formSeccionSubmitButtonPersonalizar" value="Aceptar" name="Aceptar" onClick="cerrarPopUpPersonalizarRol();">Aceptar</button>			
			&nbsp;
			<button id="btnCancelarPersonalizarRol" class="formSeccionSubmitButtonPersonalizar" value="Cancelar" name="Cancelar" onClick="cerrarPopUpPersonalizarRol();">Cerrar</button>			
		</div>
		
<%--	</g:uploadForm>--%>
</div> 