<g:updateToken />
<div id="dialog-personalizar-areasoporte" title="Personalizar Area Soporte" style="display: none;">
<%--	<g:uploadForm enctype="multipart/form-data" id="formPersonalizarAreaSoporte" name="formPersonalizarAreaSoporte" action="guardarPersonalizarAreaSoporte">--%>
		
		<div align="center" style="text-align: left;">
<%--			<g:checkBoxList items="${ar.com.telecom.pcs.entities.AreaSoporte.list()}" name="areaSoporte" seleccionados="" optionKey="id" height="320" />--%>
			<button id="btnAceptarPersonalizarAreaSoporte" class="formSeccionSubmitButtonPersonalizar" value="Aceptar" name="Aceptar" onClick="cerrarPopUpPersonalizarAreaSoporte();">Aceptar</button>			
			&nbsp;
			<button id="btnCancelarPersonalizarAreaSoporte" class="formSeccionSubmitButtonPersonalizar" value="Cancelar" name="Cancelar" onClick="cerrarPopUpPersonalizarAreaSoporte();">Cerrar</button>
		</div>
		
<%--	</g:uploadForm>--%>
</div> 