<g:updateToken />
<div id="dialog-personalizar-fase" title="Personalizar Fases" style="display: none;">
<%--	<g:uploadForm enctype="multipart/form-data" id="formPersonalizarMacroestado" name="formPersonalizarMacroestado" action="guardarPersonalizarMacroestado">--%>
		
		<div align="center" style="text-align: left;">
		
			<%--CONTENEDOR DE LAS FASES--%>
			<div id="divFases"></div>
			
			<button id="btnAceptarPersonalizarFase" class="formSeccionSubmitButtonPersonalizar" value="Aceptar" name="Aceptar" onClick="cerrarPopUpPersonalizarFase();">Aceptar</button>			
			&nbsp;
			<button id="btnCancelarPersonalizarFase" class="formSeccionSubmitButtonPersonalizar" value="Cancelar" name="Cancelar" onClick="cerrarPopUpPersonalizarFase();">Cerrar</button>
		</div>
		
<%--	</g:uploadForm>--%>
<br><br>
</div>
 