<g:updateToken />
<div id="dialog-personalizar-macroestado" title="Personalizar Macroestado" style="display: none;">
<%--	<g:uploadForm enctype="multipart/form-data" id="formPersonalizarMacroestado" name="formPersonalizarMacroestado" action="guardarPersonalizarMacroestado">--%>
		

<%--		<% def macroEstadosSeleccionados = ""; %>--%>
<%--		<g:each in="${params.macroestado}" var="macroEstadoItem" >--%>
<%--			<% macroEstadosSeleccionados += "&macroestado=" + macroEstadoItem; %>--%>
<%--		</g:each>--%>

		<div align="center" style="text-align: left;">
			<div id="divMacroestados">
<%--				<g:checkBoxList items="${ar.com.telecom.pcs.entities.MacroEstado.list()}" name="macroEstado" seleccionados="${}" optionKey="id" height="210" />--%>
			</div>
			<button id="btnAceptarPersonalizarMacroestado" class="formSeccionSubmitButtonPersonalizar" value="Aceptar" name="Aceptar" onClick="cerrarPopUpPersonalizarMacroestado();">Aceptar</button>			
			&nbsp;
			<button id="btnCancelarPersonalizarMacroestado" class="formSeccionSubmitButtonPersonalizar" value="Cancelar" name="Cancelar" onClick="cerrarPopUpPersonalizarMacroestado();">Cerrar</button>
		</div>
		
<%--	</g:uploadForm>--%>
<br><br>
</div> 