
<%@ page import="ar.com.telecom.pcs.entities.SoftwareFactory" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'softwareFactory.label', default: 'SoftwareFactory')}" />
        <title><g:message code="default.show.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.show.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <div class="dialog">
                <table>
                    <tbody>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.id.label" default="Id" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: softwareFactoryInstance, field: "id")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.descripcion.label" default="Descripcion" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: softwareFactoryInstance, field: "descripcion")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.responsableCargaCapacidad.label" default="Responsable Carga Capacidad" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: softwareFactoryInstance, field: "responsableCargaCapacidad")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.grupoLDAP.label" default="Grupo LDAP" /></td>
                            
                            <td valign="top" class="value">${fieldValue(bean: softwareFactoryInstance, field: "grupoLDAP")}</td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.asociadoSistema.label" default="Asociado Sistema" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${softwareFactoryInstance?.asociadoSistema}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.gestionaCapacidad.label" default="Gestiona Capacidad" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${softwareFactoryInstance?.gestionaCapacidad}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.manoObraPropia.label" default="Mano Obra Propia" /></td>
                            
                            <td valign="top" class="value"><g:formatBoolean boolean="${softwareFactoryInstance?.manoObraPropia}" /></td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.sistemas.label" default="Sistemas" /></td>
                            
                            <td valign="top" style="text-align: left;" class="value">
                                <ul>
                                <g:each in="${softwareFactoryInstance.sistemas}" var="s">
                                    <li><g:link controller="sistema" action="show" id="${s.id}">${s?.encodeAsHTML()}</g:link></li>
                                </g:each>
                                </ul>
                            </td>
                            
                        </tr>
                    
                        <tr class="prop">
                            <td valign="top" class="name"><g:message code="softwareFactory.stockMensualHoras.label" default="Stock Mensual Horas" /></td>
                            
                            <td valign="top" style="text-align: left;" class="value">
                                <ul>
                                <g:each in="${softwareFactoryInstance.stockMensualHoras}" var="s">
                                    <li><g:link controller="stockMensualSWF" action="show" id="${s.id}">${s?.encodeAsHTML()}</g:link></li>
                                </g:each>
                                </ul>
                            </td>
                            
                        </tr>
                    
                    </tbody>
                </table>
            </div>
            <div class="buttons">
                <g:form>
                    <g:hiddenField name="id" value="${softwareFactoryInstance?.id}" />
                    <span class="button"><g:actionSubmit class="edit" action="edit" value="${message(code: 'default.button.edit.label', default: 'Edit')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </g:form>
            </div>
        </div>
    </body>
</html>
