

<%@ page import="ar.com.telecom.pcs.entities.OtroCosto" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'otroCosto.label', default: 'OtroCosto')}" />
        <title><g:message code="default.create.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.create.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${otroCostoInstance}">
            <div class="errors">
                <g:renderErrors bean="${otroCostoInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form action="save" >
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="detalle"><g:message code="otroCosto.detalle.label" default="Detalle" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: otroCostoInstance, field: 'detalle', 'errors')}">
                                    <g:textField name="detalle" maxlength="150" value="${otroCostoInstance?.detalle}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="costo"><g:message code="otroCosto.costo.label" default="Costo" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: otroCostoInstance, field: 'costo', 'errors')}">
                                    <g:textField name="costo" value="${fieldValue(bean: otroCostoInstance, field: 'costo')}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                    <label for="tipoCosto"><g:message code="otroCosto.tipoCosto.label" default="Tipo Costo" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: otroCostoInstance, field: 'tipoCosto', 'errors')}">
                                    <g:select name="tipoCosto.id" from="${ar.com.telecom.pcs.entities.TipoCosto.list()}" optionKey="id" value="${otroCostoInstance?.tipoCosto?.id}"  />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:submitButton name="create" class="save" value="${message(code: 'default.button.create.label', default: 'Create')}" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
