<head>
<%--	<meta name='layout' content='layoutLogin' />--%>
	<meta name="layout" content="layoutLogin" />
</head>

<body>
	<div class="contenidoInfo loginDenied">
		No est&aacute; habilitado a ver esta p&aacute;gina.
		<g:link controller="inbox" action="list">Ir al Inbox</g:link>
	</div> 
</body>
 