<center>
	<b>${leyenda}</b>
	<br>
	<br>
	<g:link class="formSeccionSubmitButtonAnexo" controller="${pedidoInstance?.faseActual?.controllerNombre}" action="index" params="[pedidoId: pedidoInstance.id, muestraSuspensionPop: false]">Volver</g:link>
</center>
 