
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="layout" content="mainApp" />
</head>
<body>
	<g:set var="pedido" value="${params.impacto?:params.pedidoId}"/>

	<g:mostrarError exception="${exception}"/> 
</body>
</html> 