

<%@ page import="ar.com.telecom.pcs.entities.UmbralAprobacionEconomica" %>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="layout" content="main" />
        <g:set var="entityName" value="${message(code: 'umbralAprobacionEconomica.label', default: 'UmbralAprobacionEconomica')}" />
        <title><g:message code="default.edit.label" args="[entityName]" /></title>
    </head>
    <body>
        <div class="nav">
            <span class="menuButton"><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></span>
            <span class="menuButton"><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></span>
            <span class="menuButton"><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></span>
        </div>
        <div class="body">
            <h1><g:message code="default.edit.label" args="[entityName]" /></h1>
            <g:if test="${flash.message}">
            <div class="message">${flash.message}</div>
            </g:if>
            <g:hasErrors bean="${umbralAprobacionEconomicaInstance}">
            <div class="errors">
                <g:renderErrors bean="${umbralAprobacionEconomicaInstance}" as="list" />
            </div>
            </g:hasErrors>
            <g:form method="post" >
                <g:hiddenField name="id" value="${umbralAprobacionEconomicaInstance?.id}" />
                <g:hiddenField name="version" value="${umbralAprobacionEconomicaInstance?.version}" />
                <div class="dialog">
                    <table>
                        <tbody>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                  <label for="rangoDesde"><g:message code="umbralAprobacionEconomica.rangoDesde.label" default="Rango Desde" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: umbralAprobacionEconomicaInstance, field: 'rangoDesde', 'errors')}">
                                    <g:textField name="rangoDesde" value="${fieldValue(bean: umbralAprobacionEconomicaInstance, field: 'rangoDesde')}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                  <label for="rangoHasta"><g:message code="umbralAprobacionEconomica.rangoHasta.label" default="Rango Hasta" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: umbralAprobacionEconomicaInstance, field: 'rangoHasta', 'errors')}">
                                    <g:textField name="rangoHasta" value="${fieldValue(bean: umbralAprobacionEconomicaInstance, field: 'rangoHasta')}" />
                                </td>
                            </tr>
                        
                            <tr class="prop">
                                <td valign="top" class="name">
                                  <label for="tipoGestion"><g:message code="umbralAprobacionEconomica.tipoGestion.label" default="Tipo Gestion" /></label>
                                </td>
                                <td valign="top" class="value ${hasErrors(bean: umbralAprobacionEconomicaInstance, field: 'tipoGestion', 'errors')}">
                                    <g:select name="tipoGestion.id" from="${ar.com.telecom.pcs.entities.TipoGestion.list()}" optionKey="id" value="${umbralAprobacionEconomicaInstance?.tipoGestion?.id}"  />
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <span class="button"><g:actionSubmit class="save" action="update" value="${message(code: 'default.button.update.label', default: 'Update')}" /></span>
                    <span class="button"><g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" /></span>
                </div>
            </g:form>
        </div>
    </body>
</html>
